.Cell {
    width: 70px;
    height: 70px;

    background-color: tomato;
    border: 1px solid black;

    line-height: 70px;
    text-align: center;
    
    font-weight: 600;
    font-size: 40px;

    cursor: pointer;
}